

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.container {
    width:400px;
    height:400px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-200px 0 0 -200px;
    text-align:justify;
}
